.page__popup-text {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 30px 1fr;
  grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  grid-row-gap: 30px;
}